<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"spacing":{"padding":{"top":"var:preset|spacing|section","bottom":"var:preset|spacing|section"}}} -->
<main class="wp-block-group">
	<!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">Page introuvable</h1>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>La page demandée n’existe pas ou n’est plus disponible.</p>
	<!-- /wp:paragraph -->
	<!-- wp:home-link {"label":"Retour à l’accueil"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
